{% extends 'courses/base.html' %}
{% load course_custom_tags %}
{% block title %}
test
{% endblock %}
{% block start %}
<div class="container">
    <p class="display-6">My Courses</p>
   
    <div class="row">
        {% for uc in user_courses %}
        <!-- Each card will occupy 4 columns in medium screens, adjust as needed -->
        <div class="col-md-4 col-sm-6 col-12 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="{{uc.course.thumbnail.url}}" class="card-img-top" alt="no">
                <div class="card-body">
                    <h5 class="card-title">{{uc.course.name}}</h5>
                    
                </div>

                <div class="card-footer p-0">
                    
                    <div class="row no-gutters">
                       
                        <div class="col border-right">
                            <a href="/course/{{uc.course.slug}}" class="btn btn-light w-100">
                                Start Course</a>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}
